<!DOCTYPE html>
<html lang="en">
<head>
    <title>Armstrong Number</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <script>
        let sum=0
        const number=prompt('Enter a three digit positive number: ');
        let temp=number;
        while (temp > 0)
        {
            
        }

    </script>
</body>
</html>