<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        a=[];
        total=0;
        for(i=0;i<5;i++){
            n=Number(prompt("Enter "+i+" mark"));
            a.push(n)
        }
        for(i of a)
        {
            console.log(i);
            total=total + i;
        }
        console.log(total);
            switch(true){
                case total>=90:
                console.log("A grade");
                break;

                case total>=80:
                console.log("B grade");
                break;

                case total>=70:
                console.log("C grade");
                break;

                case total>=60:
                console.log("D grade");
                break;

                case total>=50:
                console.log("E grade");
                break;

                default:
                    console.log("Fail..")
            }
    </script>
</body>
</html>