<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deffered scripts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <input type="text" id="number1">
    <input type="text" id="number2">
    <button type="button" onclick=sum()>sum</button>
    <script>
        function sum()
        {
            a=Number(document.getElementById('number1').value);
            b=Number(document.getElementById('number2').value);
            console.log(a+b);
            console.log(typeof(a,b));
        }
    </script>
</body>
</html>