{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-lg-12" style="height: 100px;height: 100px;">
            <nav class="navbar navbar-dark badge-dark">
                <img src="{% static 'images\bs.png' %}" alt="image" style="height: 50px;margin-top: 10px;">
                <form class="form-inline">
                    <div class="form-group mb-2">
                      <label for="text" class="sr-only">Email</label>
                      <input type="text" class="form-control" id="text" placeholder="Enter your email">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="inputPassword2" class="sr-only">Password</label>
                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Sign in</button>
                  </form>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
            </nav>
        </div>
    </div>
    <div class="row" style="display:flex;flex-wrap:wrap;height:100vh;width: 100%;">
        <div class="col-lg-2 vh-100" style="background-color:black;">
            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#">Home</a> </li>
                    <li class="nav-item"><a href="#">Services</a> </li>
                    <li class="nav-item"><a href="#">About</a> </li>
                    <li class="nav-item"><a href="#">Products</a> </li>
                    <li class="nav-item"><a href="#">Privacy</a> </li>
                    <li class="nav-item"><a href="#">Cookies</a> </li>
                    <li class="nav-item"><a href="#">Contact</a> </li>
                </ul>
            </nav>
        </div>
        
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-9" style="height: 600px;background-color:grey;">
                    <div class="card" style="width: 18rem;margin-top: 50px;">
                        <img class="card-img-top" src="{% static 'images\ladakh1.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Leh Ladakh Tourism</h5>
                          <p class="card-text">Ride with us to Leh.</p>
                          <a href="https://en.wikipedia.org/wiki/Leh" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-3" style="height: 600px;background-color:black;width: 100%;">Ad
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images\cb1.jfif' %}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images\cb2.jfif' %}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images\cb.jfif' %}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-12" style="height: 155px;background-color:darkslategray;">
                    <div class="container" style="color: white;">
                        <hr style="margin-top: 3px;margin-bottom: 3px;">
                        <p><small>
                            <span style="padding-right: 20px;">Legan information</span>
                            <span style="padding-right: 20px;">Terms of use</span>
                            <span style="padding-right: 20px;">Privacy policy</span>
                            <span style="padding-right: 20px;">Help</span>
                        </small></p>
                        <hr style="margin-top: 3px;margin-bottom: 3px;">
                        <p>This website contains a wide variety of images relating to the Company and our activities. Many of those images were originally photographed or filmed prior to the COVID-19 pandemic and the restrictions and preventative measures that have been put in place both nationally and locally on campus in order to seek to reduce the risks of COVID-19 infection. The images may therefore not be representative of the current requirements and practices on campus in relation to social distancing, face covering and restricted gatherings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>