{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>
<body>
    <div class="container-fluid" style="background-color: #3b5889;width: 100%;" id="header_container">
        <div class="row" id="div_logo">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <img src="{% static 'images\fbreslogo.png' %}" alt="error" style="height: 60px;margin-top: 10px;" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="login_form">
                <form action="" class="form-inline">
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-left: 10px;color: white;">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" placeholder="Email/phone" id="subscription" style="display: block;width: 100%;margin-bottom: 1px;">
                        <input type="checkbox">Keep me signed in
                    </div>
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12" style="color: white;">
                        <label for="Password">Password</label>
                        <input type="text" class="form-control" placeholder="Enter your password" id="email" style="display: block;width: 100%;">Forgotten password?
                    </div>
                    <div class="form-group col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-info btn-block" style="margin-bottom: 4px;">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
      <div class="container-fluid" style="background:linear-gradient(#ffffff,#edf0f5)">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 hidden-xs" id="left_pic_container">
                <h3 style="padding-left: 100px;padding-top: 20px;">facebook helps you connect and share
                with the people in your life</h3><br><br>
                <img src="{% static 'images\fbinsideimage.png' %}" alt="error" class="img-fluid" style="padding-left: 100px;">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h1 style="text-align:center;">Create an account <br><small>It's free and always
                    will it be
                </small></h1>
                <br><br><br>
                <form action="" class="form-inline">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                        <input type="text" class="form-control" placeholder="First Name" 
                        id="txt_first_name" style="display: block;width: 100%;"><br>
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                        <input type="text" class="form-control" placeholder="Last Name" 
                        id="txt_last_name" style="display: block;width: 100%;"><br>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                        <input type="text" class="form-control" placeholder="Mobile Number" 
                        id="txt_mobile" style="display: block;width: 100%;"><br>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                        <input type="email" class="form-control" placeholder="Email" 
                        id="txt_email" style="display: block;width: 100%;"><br>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                        <input type="password" class="form-control" placeholder="Password" 
                        id="txt_password" style="display: block;width: 100%;"><br>
                    </div>
                    <br>
                    <div style="padding-left: 20px;">Birthday<br>
                    <p><select><option>Day</option></select>
                        <select><option>Month</option></select>
                        <select><option>Year</option></select> 
                        <span><small>Why do I need to provied my date of birth?</small></span>
                    </p>
                        <input type="radio">Female <input type="radio">Male
                </div>
                <p class="col-lg-8" style="line-height: 90%;padding-top: 10px;">
                <small>By clicking Create an account, you agree to our Terms and 
                    confirm that you have read our Data Policy, including our Cookie Use Policy.
                    You may recieve SMS message notifications from Facebook and can opt out at any time.
                </small></p>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="button" class="btn btn-success btn block col-lg-4" value="Create an account">
                </div>
                </form>
            </div>
        </div>
        <br></div>
        <div class="container">
            <hr style="margin-top: 3px;margin-bottom: 3px;">
            <p><small>
                <span style="padding-right: 20px;">Sign Up</span>
                <span style="padding-right: 20px;">Login</span>
                <span style="padding-right: 20px;">Mobile</span>
                <span style="padding-right: 20px;">Find Friends</span>
                <span style="padding-right: 20px;">Pages</span>
                <span style="padding-right: 20px;">Help</span>
            </small></p>
            <hr style="margin-top: 3px;margin-bottom: 3px;">
            <p><small>Facebook &copy;2019</small></p>
        </div>
</body>
</html>